<h1>Create a New List View</h1>

<%# add a simple form for the user to populate with the list name %>

<%= simple_form_for(@list) do |f| %>
<%= f.input :name %>
<%= f.input :photo, as: :file %>
<%= f.submit %>
<% end %>

<%= link_to "back to my lists", lists_path %> |
