<h1>Show List Detials</h1>

<p><strong><%= @list.name %></strong></p>

<ul><% @list.bookmarks.each do |bookmark| %>
    <li><strong>Bookmarked:</strong> <%= bookmark.comment %></li>
    <li><strong>Movie:</strong>  <%= bookmark.movie.title %></li>
    <li><strong>Overview:</strong>  <%= bookmark.movie.overview %></li>
    <li><strong>Poster:</strong>  <%= bookmark.movie.poster_url %></li>
    <li><strong>Rating:</strong>  <%= bookmark.movie.rating %></li>
  <% end %>
</ul>


<%= link_to "back to my lists", lists_path %> |
<%= link_to "Add a movie", new_list_bookmark_path(@list) %>
