<% if @list.photo.attached? %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @list.photo.key, height: 300, crop: :fill %>')">
    <h1><strong><%= @list.name %></strong></h1></p>

  </div>
<% end %>


<ul><% @list.bookmarks.each do |bookmark| %>
    <li><strong>Bookmarked:</strong> <%= bookmark.comment %></li>
    <li><strong>Movie:</strong>  <%= bookmark.movie.title %></li>
    <li><strong>Overview:</strong>  <%= bookmark.movie.overview %></li>
    <li><strong>Poster:</strong>  <%= bookmark.movie.poster_url %></li>
    <li><strong>Rating:</strong>  <%= bookmark.movie.rating %></li>
  <% end %>
</ul>


<%= link_to "back to my lists", lists_path %> |
<%= link_to "Add a movie", new_list_bookmark_path(@list) %> |
<%= link_to "Edit my list", new_list_bookmark_path(@list) %>
